/* Moving Boxes demo CSS */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

* { 
  margin: 0; 
  padding: 0; 
}

body { 
  font: 16px/1.4 'PT Sans', sans-serif;
}




/* Panel images */


/* height of the placeholder until image completely loads - needed for
   webkit browsers, add this only if you don't want the height animation
   on startup. 326px measures the height of the current image when enlarged 
*/
#slider-two .current img {  width:auto;  }

/* Panel links */
.mb-inside a { color: #333; text-decoration: none; border-bottom: 1px dotted #ccc; }
.mb-inside a:hover { border-bottom: 1px solid #999; }

/* Add/remove panels buttons */
.buttons { padding: 5px ; text-align: center; }

/* Direct link styling */
.dlinks { 
  text-align: center;
  margin: 0 0 20px 0;
}
.dlinks * {
  
}